{% extends "base.html" %}

{% block title %}BedtimeBetty{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <style>
    .centered {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .action-btn {
      font-size: 1.25rem;
      font-family: 'Roboto', sans-serif;
    }

    .theme-btn {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s, transform 0.5s;
      font-size: 1.25rem;
      font-weight: bold;
      font-family: 'Courgette', sans-serif;
    }
    
    .theme-btn.loaded {
      opacity: 1;
      transform: translateY(0);
    }
  </style>
  <div id="contentContainer" class="centered mt-5">
    <div id="themesContainer" class='row justify-content-center justify-content-md-start mb-5'></div>
    
    <div id="spinner" class="spinner-border text-primary" role="status" style="display: none;">
      <span class="sr-only">Loading...</span>
    </div>

    <div id="buttons">
      <button type="button" class="btn btn-primary d-inline-block action-btn" id="refreshButton">More</button>
      <button type="button" class="btn btn-primary d-inline-block action-btn" id="goButton" disabled>Go</button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
